<nav class="navbar">
    <ul>
        <li><a href="/">Inicio</a></li>
        {{#each integrantes}}
            <li><a href="/{{matricula}}/">{{nombre}}</a></li>
        {{/each}}
        <li><a href="/word_cloud/">Word Cloud</a></li>
        <li><a href="/curso/">Curso</a></li>
    </ul>
</nav>
